#survey .modal .modal-body {
    padding: 0;
    position: relative
}

#survey .modal .modal-body a.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    display: block;
    padding: 0 5px;
    z-index: 1042
}

#modal_survey_confirm_banner {
    padding-top: 15px
}

#modal_survey_confirm_banner img {
    width: 220px;
    height: auto
}

#modal_survey_confirm h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: SanFranciscoDisplay-Bold
}

#modal_survey_confirm_content {
    margin-top: 20px
}

.modal_survey_content {
    padding: 15px 20px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: #000 solid 1px;
    min-height: 90px;
    box-sizing: content-box
}

#modal_survey_content_1 {
    border-color: #1ea0da
}

#modal_survey_content_2 {
    border-color: #ed0977
}

.modal_survey_content p {
    margin-bottom: 5px;
    font-size: 15px
}

.modal_survey_content span {
    font-family: SanFranciscoDisplay-Bold
}

#modal_survey_confirm_content .action {
    margin-top: 20px
}

#modal_survey_confirm_content .action a {
    color: #fff;
    padding: 8px 30px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 17px
}

#modal_survey_confirm_content .action a:hover {
    text-decoration: none;
    color: #fff
}

#modal_survey_confirm_description {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px 50px
}

#survey .modal .modal-content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

#modal_survey_confirm.modal .modal-content {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

#survey .modal .modal-body {
    padding: 0;
    position: relative
}

#survey .modal .modal-body img {
    width: 100%;
    height: auto
}

#modal_survey_confirm_banner img {
    max-width: 220px
}

#survey .modal .modal-body a.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 36px;
    color: #fff;
    display: block;
    padding: 0 15px;
    z-index: 1042
}

#survey #modal_survey_confirm.modal .modal-body a.close {
    color: unset;
    font-size: 28px;
    padding: 0 5px
}

.modal_survey_confirm_content {
    position: absolute;
    border-radius: 8px
}

#modal_survey_confirm_title {
    font-family: SanFranciscoDisplay-Bold;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    top: 9%;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: -1px 1px 2px #000
}

#modal_survey_confirm_content_1 {
    top: 27%;
    left: 15%;
    width: 165px;
    padding: 10px 10px 15px;
    color: #fff;
    background: rgba(51, 133, 218, 0.8)
}

#modal_survey_confirm_content_1 .point {
    font-family: SanFranciscoDisplay-Bold;
    font-size: 23px;
    color: #f70d67;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    letter-spacing: -2px;
    word-spacing: 2px
}

#modal_survey_confirm_content_2 {
    top: 31%;
    left: 44%;
    width: 90px;
    color: #023d79;
    padding: 5px;
    text-align: center;
    background: rgba(165, 220, 255, 0.8);
    font-weight: 700;
    font-size: 13px;
    line-height: 15px
}

#modal_survey_confirm_content_3 {
    top: 23%;
    left: 61%;
    width: 90px;
    color: #023d79;
    padding: 5px;
    text-align: center;
    background: rgba(99, 193, 253, 0.8);
    font-weight: 700;
    font-size: 13px;
    line-height: 15px
}

#modal_survey_confirm_content_4 {
    top: 50%;
    left: 52%;
    width: 100px;
    color: #023d79;
    padding: 5px 1px;
    text-align: center;
    background: rgba(203, 235, 255, 0.8);
    font-weight: 700;
    font-size: 17px
}

#modal_survey_confirm_content_5 {
    bottom: 0;
    left: 0;
    border: none;
    text-shadow: none;
    color: #009dff;
    padding-left: 25px;
    padding-bottom: 8px
}

#btnSurveyConfirm {
    display: block;
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    color: #fff;
    text-align: center;
    background: #f70d67;
    font-weight: 700;
    font-size: 17px;
    text-shadow: -1px 1px 1px #000;
    padding: 6px 10px
}

#block_survey_banner {
    position: relative;
    text-align: center
}

.survey_banner_slider img {
    width: 100%;
    height: auto
}

#survey {
    background: #ede7f6;
    color: #4e4f4f
}

#survey_form_container {
    position: relative;
    -moz-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px)
}

@media (min-width: 1200px) {
    #survey_form_container {
        max-width: 740px;
        margin: 0 auto
    }
}

#survey_form {
    background: #fff;
    -moz-box-shadow: 0 0 10px 1px #888;
    -webkit-box-shadow: 0 0 10px 1px #888;
    box-shadow: 0 0 10px 2px #888;
    padding: 40px
}

#survey_form .title h2 {
    font-size: 28px;
    color: #1ea0da;
    text-transform: uppercase;
    text-align: center;
    margin: 0
}

#survey_form .short_des {
    font-style: italic;
    text-align: center;
    margin: 20px 0
}

#survey_form .item_survey_question {
    margin-bottom: 20px
}

#survey_form .item_survey_question .question_content {
    font-size: 21px;
    color: #ed0977
}

#survey_form .item_survey_answer td {
    padding-top: 0;
    padding-bottom: 8px
}

#survey_form .item_survey_answer td.answer_button {
    padding-left: 0
}

#survey_form .item_survey_answer td.answer_content {
    font-size: 17px
}

#survey_form .item_survey_answer td.answer_content p {
    margin: 0
}

#survey_form .item_survey_answer td.answer_content label {
    margin-bottom: unset;
    font-weight: unset;
    margin-right: 10px
}

.survey_input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    font-size: 15px;
    padding: 2px;
    -moz-transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s
}

.survey_input:focus {
    border-bottom: 1px solid #ed0977
}

@media (min-width: 1200px) {
    .survey_input {
        width: 500px
    }
}

#survey_form td.question_label {
    font-size: 17px;
    width: 100px;
    text-align: center
}

#survey_form td.item_survey_answer_level {
    padding: 0
}

#survey_form td.item_survey_answer_level .answer_button {
    padding: 9px 10px;
    background: #eee;
    text-align: center
}

#survey_form td.item_survey_answer_level.first .answer_button {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    padding-left: 15px
}

#survey_form td.item_survey_answer_level.first .answer_content {
    padding-left: 6px
}

#survey_form td.item_survey_answer_level.last .answer_button {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    padding-right: 15px
}

#survey_form td.item_survey_answer_level.last .answer_content {
    padding-right: 6px
}

#survey_form .item_survey_answer_level .answer_content {
    text-align: center
}

#survey_form .item_survey_answer_level .answer_content label {
    font-size: 17px;
    font-weight: 400
}

#survey_form .item_survey_answer_level .answer_content p {
    margin: 0
}

#btnSubmitSurvey {
    font-size: 19px;
    padding: 5px 32px
}

.modal_survey_complete_content {
    position: absolute;
    border-radius: 8px
}

#modal_survey_complete_title {
    font-family: SanFranciscoDisplay-Bold;
    font-size: 28px;
    color: #fae003;
    border: none;
    top: 7%;
    left: 0;
    width: 100%;
    text-align: center
}

#modal_survey_complete_content_1 {
    top: 24%;
    left: 36%;
    width: 300px;
    padding: 15px;
    color: #444;
    background: rgba(215, 234, 254, 0.8);
    text-shadow: none;
    font-size: 15px
}

#modal_survey_complete_content_2 {
    right: 0;
    bottom: 1%;
    width: 100%;
    border: none;
    text-shadow: none;
    color: #009dff;
    font-size: 11px;
    text-align: right;
    padding-right: 5px
}

#btnSurveyLogin {
    display: block;
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    color: #fff;
    text-align: center;
    background: #052f4d;
    font-weight: 700;
    font-size: 17px;
    border: none
}

#btnSurveyRegister {
    display: block;
    position: absolute;
    bottom: 28%;
    left: 65%;
    width: 130px;
    color: #fff;
    text-align: center;
    background: #f70d67;
    font-weight: 700;
    font-size: 17px;
    border: none
}

#survey_form .errorSummary {
    color: red
}

@media (max-width: 1023px) {
    #survey_form_container {
        -moz-transform: translateY(-38px);
        -webkit-transform: translateY(-38px);
        transform: translateY(-38px)
    }
}

@media (max-width: 767px) {
    #survey_form {
        padding: 15px
    }
    #btnSurveyLogin,
    #btnSurveyRegister {
        width: 85px;
        font-size: 11px
    }
    #btnSurveyConfirm {
        width: 85px;
        font-size: 11px;
        padding-top: 6px;
        padding-bottom: 6px
    }
    #modal_survey_complete_title,
    #modal_survey_confirm_title {
        font-size: 15px
    }
    #modal_survey_complete_content_1 {
        font-size: 11px;
        padding: 5px;
        width: 190px
    }
    #modal_survey_complete_content_2 {
        font-size: 9px;
        width: 215px
    }
    #survey_form td.question_label {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 11px
    }
    #modal_survey_confirm_content_1 {
        padding: 5px;
        font-size: 11px;
        width: 112px
    }
    #modal_survey_confirm_content_2 {
        padding: 5px;
        font-size: 12px;
        width: 60px
    }
    #modal_survey_confirm_content_3 {
        padding: 5px;
        font-size: 12px;
        width: 80px
    }
    #modal_survey_confirm_content_4 {
        padding: 3px;
        font-size: 12px;
        width: 75px;
        left: 48%;
        top: 52%
    }
    #modal_survey_confirm_content_5 {
        font-size: 9px
    }
}

@media (max-width: 480px) {
    #survey_form_container {
        -moz-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    #survey_form .title h2 {
        font-size: 21px
    }
}

#survey .modal .modal-body {
    padding: 0;
    position: relative
}

#survey .modal .modal-body a.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    display: block;
    padding: 0 5px;
    z-index: 1042
}

#modal_survey_confirm_banner {
    padding-top: 25px
}

#modal_survey_confirm_banner img {
    width: 220px;
    height: auto
}

#modal_survey_confirm h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: SanFranciscoDisplay-Bold;
    margin: 10px auto 0;
    font-size: 24px;
    width: 80%
}

@media (max-width: 400px) {
    #modal_survey_confirm h2 {
        font-size: 20px;
        width: 90%
    }
}

#modal_survey_confirm_content {
    margin-top: 20px;
    margin-bottom: 25px
}

.modal_survey_content {
    padding: 15px 20px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: #000 solid 1px;
    min-height: 90px;
    box-sizing: content-box
}

#modal_survey_content_1 {
    border-color: #1ea0da
}

#modal_survey_content_2 {
    border-color: #ed0977
}

.modal_survey_content p {
    margin-bottom: 5px;
    font-size: 15px
}

.modal_survey_content span {
    font-family: SanFranciscoDisplay-Bold
}

#modal_survey_confirm_content .action {
    margin-top: 20px
}

#modal_survey_confirm_content .action a {
    color: #fff;
    padding: 8px 30px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 17px
}

#modal_survey_confirm_content .action a:hover {
    text-decoration: none;
    color: #fff
}

#modal_survey_confirm_description {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px 50px
}

#survey .modal .modal-content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

#modal_survey_confirm.modal .modal-content {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

#survey .modal .modal-body {
    padding: 0;
    position: relative
}

#survey .modal .modal-body img {
    width: 100%;
    height: auto
}

#modal_survey_confirm_banner img {
    max-width: 220px
}

#survey .modal .modal-body a.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 36px;
    color: #fff;
    display: block;
    padding: 0 15px;
    z-index: 1042
}

#survey #modal_survey_confirm.modal .modal-body a.close {
    color: unset;
    font-size: 28px;
    padding: 0 5px
}

.modal_survey_confirm_content {
    position: absolute;
    border-radius: 8px
}

#modal_survey_confirm_title {
    font-family: SanFranciscoDisplay-Bold;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    top: 9%;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: -1px 1px 2px #000
}

#modal_survey_confirm_content_1 {
    top: 27%;
    left: 15%;
    width: 165px;
    padding: 10px 10px 15px;
    color: #fff;
    background: rgba(51, 133, 218, 0.8)
}

#modal_survey_confirm_content_1 .point {
    font-family: SanFranciscoDisplay-Bold;
    font-size: 23px;
    color: #f70d67;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    letter-spacing: -2px;
    word-spacing: 2px
}

#modal_survey_confirm_content_2 {
    top: 31%;
    left: 44%;
    width: 90px;
    color: #023d79;
    padding: 5px;
    text-align: center;
    background: rgba(165, 220, 255, 0.8);
    font-weight: 700;
    font-size: 13px;
    line-height: 15px
}

#modal_survey_confirm_content_3 {
    top: 23%;
    left: 61%;
    width: 90px;
    color: #023d79;
    padding: 5px;
    text-align: center;
    background: rgba(99, 193, 253, 0.8);
    font-weight: 700;
    font-size: 13px;
    line-height: 15px
}

#modal_survey_confirm_content_4 {
    top: 50%;
    left: 52%;
    width: 100px;
    color: #023d79;
    padding: 5px 1px;
    text-align: center;
    background: rgba(203, 235, 255, 0.8);
    font-weight: 700;
    font-size: 17px
}

#modal_survey_confirm_content_5 {
    bottom: 0;
    left: 0;
    border: none;
    text-shadow: none;
    color: #009dff;
    padding-left: 25px;
    padding-bottom: 8px
}

#btnSurveyConfirm {
    display: block;
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    color: #fff;
    text-align: center;
    background: #f70d67;
    font-weight: 700;
    font-size: 17px;
    text-shadow: -1px 1px 1px #000;
    padding: 6px 10px
}

#block_survey_banner {
    position: relative;
    text-align: center
}

.survey_banner_slider img {
    width: 100%;
    height: auto
}

#survey {
    background: #ede7f6;
    color: #4e4f4f
}

#survey_form_container {
    position: relative;
    -moz-transform: translateY(-135px);
    -webkit-transform: translateY(-135px);
    transform: translateY(-135px)
}

@media (min-width: 1200px) {
    #survey_form_container {
        max-width: 740px;
        margin: 0 auto
    }
}

#survey_form {
    background: #fff;
    -moz-box-shadow: 0 0 10px 1px #888;
    -webkit-box-shadow: 0 0 10px 1px #888;
    box-shadow: 0 0 10px 2px #888;
    padding: 40px;
}

#survey_form .title h2 {
    font-size: 28px;
    color: #1ea0da;
    text-transform: uppercase;
    text-align: center;
    margin: 0
}

#survey_form .short_des {
    font-style: italic;
    text-align: center;
    margin: 20px 0
}

#survey_form .item_survey_question {
    margin-bottom: 20px
}

#survey_form .item_survey_question .question_content {
    font-size: 21px;
    color: #ed0977
}

#survey_form .item_survey_answer td {
    padding-top: 0;
    padding-bottom: 8px
}

#survey_form .item_survey_answer td.answer_button {
    padding-left: 0
}

#survey_form .item_survey_answer td.answer_content {
    font-size: 17px
}

#survey_form .item_survey_answer td.answer_content p {
    margin: 0
}

#survey_form .item_survey_answer td.answer_content label {
    margin-bottom: unset;
    font-weight: unset;
    margin-right: 10px
}

.survey_input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    font-size: 15px;
    padding: 2px;
    -moz-transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s
}

.survey_input:focus {
    border-bottom: 1px solid #ed0977
}

@media (min-width: 1200px) {
    .survey_input {
        width: 500px
    }
}

#survey_form td.question_label {
    font-size: 17px;
    width: 100px;
    text-align: center
}

#survey_form td.item_survey_answer_level {
    padding: 0
}

#survey_form td.item_survey_answer_level .answer_button {
    padding: 9px 10px;
    background: #eee;
    text-align: center
}

#survey_form td.item_survey_answer_level.first .answer_button {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    padding-left: 15px
}

#survey_form td.item_survey_answer_level.first .answer_content {
    padding-left: 6px
}

#survey_form td.item_survey_answer_level.last .answer_button {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    padding-right: 15px
}

#survey_form td.item_survey_answer_level.last .answer_content {
    padding-right: 6px
}

#survey_form .item_survey_answer_level .answer_content {
    text-align: center
}

#survey_form .item_survey_answer_level .answer_content label {
    font-size: 17px;
    font-weight: 400
}

#survey_form .item_survey_answer_level .answer_content p {
    margin: 0
}

#btnSubmitSurvey {
    font-size: 19px;
    padding: 5px 32px
}

.modal_survey_complete_content {
    position: absolute;
    border-radius: 8px
}

#modal_survey_complete_title {
    font-family: SanFranciscoDisplay-Bold;
    font-size: 28px;
    color: #fae003;
    border: none;
    top: 7%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 15px
}

#modal_survey_complete_content_1 {
    top: 31%;
    left: 38%;
    width: 300px;
    padding: 15px;
    color: #444;
    background: rgba(215, 234, 254, 0.8);
    text-shadow: none;
    font-size: 15px
}

#modal_survey_complete_content_2 {
    right: 0;
    bottom: 1%;
    width: 60%;
    border: none;
    text-shadow: none;
    color: #009dff;
    font-size: 11px;
    text-align: right;
    padding-right: 5px
}

#btnSurveyLogin {
    display: block;
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    color: #fff;
    text-align: center;
    background: #052f4d;
    font-weight: 700;
    font-size: 17px;
    border: none
}

#btnSurveyRegister {
    display: block;
    position: absolute;
    bottom: 28%;
    left: 65%;
    width: 130px;
    color: #fff;
    text-align: center;
    background: #f70d67;
    font-weight: 700;
    font-size: 17px;
    border: none
}

#survey_form .errorSummary {
    color: red
}

@media (max-width: 1023px) {
    #survey_form_container {
        -moz-transform: translateY(-38px);
        -webkit-transform: translateY(-38px);
        transform: translateY(-38px)
    }
}

@media (max-width: 767px) {
    #survey_form {
        padding: 15px
    }
    #btnSurveyLogin,
    #btnSurveyRegister {
        width: 85px;
        font-size: 11px
    }
    #btnSurveyConfirm {
        width: 85px;
        font-size: 11px;
        padding-top: 6px;
        padding-bottom: 6px
    }
    #modal_survey_complete_title,
    #modal_survey_confirm_title {
        font-size: 15px
    }
    #modal_survey_complete_content_1 {
        font-size: 11px;
        padding: 5px;
        width: 190px
    }
    #modal_survey_complete_content_2 {
        font-size: 9px;
        width: 225px
    }
    #survey_form td.question_label {
        padding-left: 2px;
        padding-right: 2px;
        font-size: 11px
    }
    #modal_survey_confirm_content_1 {
        padding: 5px;
        font-size: 11px;
        width: 112px
    }
    #modal_survey_confirm_content_2 {
        padding: 5px;
        font-size: 12px;
        width: 60px
    }
    #modal_survey_confirm_content_3 {
        padding: 5px;
        font-size: 12px;
        width: 80px
    }
    #modal_survey_confirm_content_4 {
        padding: 3px;
        font-size: 12px;
        width: 75px;
        left: 48%;
        top: 52%
    }
    #modal_survey_confirm_content_5 {
        font-size: 9px
    }
}

@media (max-width: 480px) {
    #survey_form_container {
        -moz-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    #survey_form .title h2 {
        font-size: 21px
    }
}